

.blog-template {
    font: 1.2rem 'Lora', Georgia, serif;
    padding: 5rem 0;
    line-height: 2;
    color: #505050;
}

.blog-template h1,
.blog-template h2,
.blog-template h3{
    text-align: center;
    color: #13293d;
}
.blog-template ul {
    margin-top: 2rem;
    /*display: inline-block;*/
    list-style-type: disc;
}
.blog-template ul li {
    text-align: -webkit-match-parent;
    padding: 0.3rem 1rem;
    /*margin: 1rem 0;*/
    display: list-item;
    margin-left:2rem;
    margin-right:2rem;
    text-align: justify;
    text-justify: inter-word;

}

.blog-template p{
    /*overflow-x: scroll;*/
    /*padding: 1rem 1.5rem;*/
    /*border-radius: var(--radius);*/
    text-align: justify;
    text-justify: inter-word;
}

.blog-template blockquote {
    background: var(--clr-primary-9);
    border-radius: var(--radius);
    padding: 1rem;
    line-height: 2;
    color: var(--clr-primary-5);
    margin: 2rem 0;
}
.blog-template pre {
    background: #222;
    color: yellow;
    overflow-x: scroll;
    padding: 1rem 1.5rem;
    border-radius: var(--radius);
}
.blog-template img {
        max-height:50%;
        max-width: 70%;
        align-content: center;
}
.btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-primary-9);
    padding: .375rem .75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: .875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: var(--radius);}


.center-btn {
    display: block;
    width: 12rem;
    text-align: center;
    margin: 3rem auto 0;
}




