.dropdown-menu {
    width: 150px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}
.dropdown-menu li {
    background: white;
    cursor: pointer;
    border: solid 0.1px #13293d;
}
.dropdown-menu li:hover{
    background: #2caeba;
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
}
