.footer {
    height: 9rem;
    background: #222;
    text-align: center;
    display: grid;
    place-items: center;
}
.footer h4 {
    margin-top: 0.5rem;
    color: var(--clr-white);
    font-weight: normal;
    text-transform: uppercase;
}
.footer h4 span {
    color: var(--clr-primary-5);
}
.footer-links {
    margin: 0 auto 1rem auto;
}
.footer .social-link {
    color: var(--clr-white);

}
.footer .social-link:hover {
    color: var(--clr-primary-5);
}

@media screen and (max-width: 650px) {
    .footer h4 {
        font-size: 10px;
    }

}
